@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.store-name {
    text-align: left;
    font-weight: bold;
    background-image: linear-gradient(to left, coral, white);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 10px 0 0 150px;
}

.cart {
    display: flex;
    margin: 10px 150px 10px 0;
}

.cart-name {
    text-align: right;
    font-size: 22px;
    margin: 0;
    color: coral;
    align-items: center;
}

.cart-number {
    font-size: 22px;
    margin: 0 0 0 7px;
    color: white;
    align-items: center;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 80px 200px 0 200px;
    text-align: center;
}

.btn-name {
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.btn-price {
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.item {
    margin: 40px 20px 80px 20px;
    height: auto;
}

.item-img {
    width: 260px;
}

.item-name {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 20px;
}

.price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.btn-buy {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 12px;
}

.item-price {
    margin-top: 10px;
}

.footer {
    width: 100vw;
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.phone-link {
    color: coral;
    margin: 5px 0 0 10px;
    text-decoration: none;
}

.email-link {
    color: coral;
    margin: 5px 0 0 10px;
    text-decoration: none;
}

.copyright {
    color: white;
    margin: 7px 0 3px 10px;
}

@media screen and (max-width: 576px){
   .header {
       height: 70px;
   }

    .store-name {
        margin: 20px 0 0 25px;
    }

   .cart {
       margin: 20px 25px 0 0;
   }

    .btn-wrapper {
        margin: 50px 0 0 0;
    }

   .btn-name {
       margin-left: 35px;
       font-size: 18px;
       width: 90px;
       height: 60px;
   }

   .btn-price {
       margin-right: 35px;
       font-size: 18px;
       width: 90px;
       height: 60px;
   }

   .item {
       margin: 40px 0 80px 0;
   }

    .item-img {
        width: 100vw;
    }

    .item-name {
        font-size: 22px;
    }

    .btn-buy {
        font-size: 23px;
        width: 115px;
        height: 65px;
    }

    .item-price {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .header {
        height: 70px;
    }

    .store-name {
        margin: 20px 0 0 25px;
    }

    .cart {
        margin: 20px 25px 0 0;
    }

    .btn-wrapper {
        margin: 50px 0 0 0;
    }

    .btn-name {
        margin-left: 35px;
        font-size: 18px;
        width: 145px;
        height: 50px;
    }

    .btn-price {
        margin-right: 35px;
        font-size: 18px;
        width: 145px;
        height: 50px;
    }

    .item {
        margin: 40px 0 80px 0;
    }

    .item-img {
        width: 50vw;
    }

    .item-name {
        font-size: 22px;
    }

    .btn-buy {
        font-size: 23px;
        width: 115px;
        height: 65px;
    }

    .item-price {
        font-size: 28px;
    }
}