@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.line-top {
    background-color: black;
    width: 100%;
    height: 50px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 150px 70px 150px;
    color: coral;
}

.store-name {
    text-align: left;
    font-weight: bold;
    background-image: linear-gradient(to left, coral, white);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 10px 0 0 0;
}

.cart {
    display: flex;
    width: 90px;
}

.cart-name {
    text-align: right;
    font-size: 22px;
    margin: 12px 0 0 0;
}

.cart-number {
    font-size: 22px;
    margin: 12px 0 0 7px;
    color: white;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 80px 200px 0 200px;
    text-align: center;
}

.btn-name {
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.btn-price {
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.item {
    margin: 40px 20px 80px 20px;
    height: auto;
}

.img-item {
    width: 260px;
}

.item-name {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 20px;
}

.price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    height: 45px;
    margin-left: 30px;
    font-weight: bold;
}

.btn-buy {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 12px;
}

.item-price {
    margin-top: 10px;
}

.footer {
    width: 100vw;
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.phone-link {
    color: coral;
    margin: 5px 0 0 10px;
}

.email-link {
    color: coral;
    margin: 5px 0 0 10px;
}

.copyright {
    color: white;
    margin: 7px 0 3px 10px;
}




